<br>
{{> search-box}}
<br>
<div class="row text-center">
    <br><br><br>
    <h3><b>PLACE YOUR BOOK ON THE SCANNER BELOW</b></h3>
    <br><br>
    <a href="#/issue-books-success" class="btn btn-primary">Issue Now</a>

</div>