<div class="col-sm-12 text-center" id="most_read_branch">
    <h3>Most Read at Banashankari</h3>
    <!--<div class="carousel slide media-carousel" id="media1">-->
        <!--<div class="carousel-inner">-->
            <!--<div class="item  active">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<p><a href="#">First Product</a></p>-->
                                <!--<div class="ratings">-->
                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<div class="">-->
                                    <!--<p><a href="#">First Product</a></p>-->
                                <!--</div>-->
                                <!--<div class="ratings">-->
                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<div class="">-->

                                    <!--<p><a href="#">First Product</a></p>-->

                                <!--</div>-->
                                <!--<div class="ratings">-->
                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<div class="">-->

                                    <!--<p><a href="#">First Product</a></p>-->

                                <!--</div>-->
                                <!--<div class="ratings">-->

                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<p><a href="#">First Product</a></p>-->
                                <!--<div class="ratings">-->
                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<p><a href="#">First Product</a></p>-->
                                <!--<div class="ratings">-->
                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<p><a href="#">First Product</a></p>-->
                                <!--<div class="ratings">-->
                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<p><a href="#">First Product</a></p>-->
                                <!--<div class="ratings">-->
                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<p><a href="#">First Product</a></p>-->
                                <!--<div class="ratings">-->
                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<p><a href="#">First Product</a></p>-->
                                <!--<div class="ratings">-->
                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<p><a href="#">First Product</a></p>-->
                                <!--<div class="ratings">-->
                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<div class="">-->

                                    <!--<p><a href="#">First Product</a></p>-->

                                <!--</div>-->
                                <!--<div class="ratings">-->

                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<div class="">-->

                                    <!--<p><a href="#">First Product</a></p>-->

                                <!--</div>-->
                                <!--<div class="ratings">-->

                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<div class="">-->

                                    <!--<p><a href="#">First Product</a></p>-->

                                <!--</div>-->
                                <!--<div class="ratings">-->

                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<div class="">-->

                                    <!--<p><a href="#">First Product</a></p>-->

                                <!--</div>-->
                                <!--<div class="ratings">-->

                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<div class="">-->

                                    <!--<p><a href="#">First Product</a></p>-->

                                <!--</div>-->
                                <!--<div class="ratings">-->

                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<div class="">-->

                                    <!--<p><a href="#">First Product</a></p>-->

                                <!--</div>-->
                                <!--<div class="ratings">-->

                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<div class="">-->

                                    <!--<p><a href="#">First Product</a></p>-->

                                <!--</div>-->
                                <!--<div class="ratings">-->

                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<a href="#">-->
                            <!--<div class="slider">-->
                                <!--<img src="img/books/1.jpg" alt="">-->
                                <!--<div class="">-->

                                    <!--<p><a href="#">First Product</a></p>-->

                                <!--</div>-->
                                <!--<div class="ratings">-->

                                    <!--<p>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star active-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                        <!--<span class="glyphicon glyphicon-star"></span>-->
                                    <!--</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<a data-slide="prev" href="#media1" class="left carousel-control" style="margin-top:140px;">‹</a>-->
        <!--<a data-slide="next" href="#media1" class="right carousel-control" style="margin-top:140px;">›</a>-->
    <!--</div>-->
</div>