<div class="col-sm-3 sidenav">
    <aside class="sidebar">
        <div class="sidepanel widget_nav_menu">
            <ul class="nav nav-pills nav-stacked">
                <li class="menu-item"><a href="/search">Search</a></li>
                <li class="menu-item"><a href="/sort">Sort Books</a></li>
                <li class="menu-item"><a href="/update_location">Update Location</a></li>
                <li class="menu-item"><a href="/closed_card">Send Out Closed Cards</a></li>
                <li class="menu-item"><a href="/recieve_book" >Recieve Books</a></li>
                <li class="menu-item"><a href="/sending_out" >Sending Out</a></li>
                <li class="menu-item"><a href="/fulfill_books" >Fulfillment</a></li>
                <li class="menu-item"><a href="/audit" >Audit</a></li>
            </ul>
        </div>
    </aside>
</div>