<div class="input-group search">
    <input type="text" class="form-control" placeholder="Search..">
	<span class="input-group-btn">
		<a href="#/search" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
        </a>

        <!-- <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button> -->
	</span>
</div>