{{> header}}
<div class="jumbotron">
    <div class="container text-center">
        <h3>OFFERS</h3>
        <p>Offer exclusively for you : Upgrade your membership plan and 50% off</p>
    </div>
</div>
<!-- Begin page content -->
<div class="container-fluid background">
    <div class="row content" id="context" data-context="" data-session="{{branchid}}">

        {{> nav-left-branch}}

        <div class="row col-md-9 filter-box" id="content">
            <div id="first_level">
                <div class="col-md-6">
                    <label>Select Branches:</label>
                    <select class="form-control" id="branches" name="branches">
                        <option>Select Branch</option>
                    </select>
                </div>
                <div id="consignment_view">
                    <div class="col-md-6">
                        <label>Consignment Number:</label>
                        <input type="text" class="consignment_num form-control" id="consignment_num">
                    </div>
                </div>

                </br>


                <div class="col-md-9" id="sending_books_div">
                    <div class="box">
                        <div class="box-body dataTables_wrapper">

                            <table class="table table-bordered" id="sending_books">
                                <thead>
                                    <tr>
                                        <th>Nos</th>
                                        <th>Scanned Books</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9" id="ibtr_details">
            <div class="box">
                <div class="box-body dataTables_wrapper">
                    <table class="table table-bordered" id="ibtr">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Book Number</th>
                                <th>Title</th>
                                <th>Titlt id</th>
                                <th>IBT Id</th>
                                <th>IBT State</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        


        {{> home-right}}

    </div>
</div>

{{> footer}}

<script>
    $(document).ready(function(){
        $('#sending_books').DataTable( {
            "sPaginationType": "full_numbers",
                "paging":   true,
                "ordering": true,
                "info":     true,
                "searching": false
        } );

        $('#ibtr').DataTable( {
            "sPaginationType": "full_numbers",
                "paging":   true,
                "ordering": true,
                "info":     true,
                "searching": false
        } );

        $('#stop').hide();
        $('#update').hide();
        $('#branch').hide();
        $('#sending_books_div').hide();
        $('#consignment_view').hide();
        $('#ibtr_details').hide();
        $.ajax({
            url:'/getFulfillBranches',
            type:'get',
            success:function(data_new){
                var val = JSON.parse(data_new);
                val.forEach(function(arr){
                    $('#branches').append("<option value='"+arr['id']+"'>"+arr['name']+"</option>");
                });
            }
        });
    });

    $('#branches').change(function(e){
        var selected_value = $('#branches').val();
        // $('#content').html('');
        $('#content').append('Scan Warehouse card');
        $('#context').attr('data-context','start_warehouse');
    });
    var pressed = false;
    var chars = [];
    var code = '';
    var chkArray = [];
    var r = 1;
    var consignment = '';
    $(window).keypress(function(e) {
        var contxt = $('#context').attr('data-context');
        if(contxt == 'start' || contxt == 'start_warehouse') {
            chars.push(String.fromCharCode(e.which));
            if (pressed == false) {
                setTimeout(function () {
                    if (chars.length >= 5) {
                        var barcode = chars.join("");
                        console.log($.inArray(barcode, chkArray));
                        if ($.inArray(barcode, chkArray) == '-1') {
                            chkArray.push(barcode);
                            if(chkArray.length == 1){
                                $('tbody').html('');
                            }
                            String.prototype.RFIDHexToString = function (delim) {
                                return this.match(/[0-9A-Fa-f]{2}/g).map(function (c) {
                                    var intVal = parseInt(c, 16);
                                    return String.fromCharCode(intVal);
                                }).join(delim || "").split("").reverse().join("");
                            };
                            code = barcode.RFIDHexToString();
                            console.log(code);
                            var selected_branch = $('#branches').val();
                            var t = $('#sending_books').DataTable();
                            if(contxt == 'start_warehouse') {
                                $.ajax({
                                    url: '/getWareHouseCardDetails?card=' + code + '&sel_branch=' + selected_branch,
                                    type: 'get',
                                    success: function (data_new) {
                                        var val = JSON.parse(data_new);
                                        
                                        console.log(val[0]['address']);
                                        $('#consignment_view').show();
                                        $('#consignment_view').append("<div class='row col-md-12' style='margin-top:30px; padding:20px;'><div class='form-group col-md-6'><div class='col-md-3' id='consignor' data-consignor_id='"+val[2]['id']+"' data-consignor_name='"+val[2]['name']+"' >Consignor</div>" +
                                                "<div class='col-md-9'>" + val[2]['name'] + "</div>" +
                                                "<div class='col-md-3'>Origin</div>" +
                                                "<div class='col-md-9'>" + val[2]['address'] + "</div></div>" +
                                                "<div class='form-group col-md-6 '><div class='col-md-3' id='consignee' data-consignee_id='"+val[0]['id']+"' data-consignee_name='"+val[0]['name']+"'>Consginee</div>" +
                                                "<div class='col-md-9'>" + val[0]['name'] + "</div>" +
                                                "<div class='col-md-3'>Destination</div>" +
                                                "<div class='col-md-9'>" + val[0]['address'] + "</div></div>" +
                                                "<div class='form-group col-md-9' style='padding:30px;'><div class='col-md-3'><button class='btn btn-primary' id='add_books' onclick='add_books()'>Add Books</button></div>" +
                                                "<div class='col-md-3'><button  class='btn btn-primary' id='cancel'>Cancel</button></div>"+
                                                "<div class='col-md-3'><button  class='btn btn-primary' id='process' onclick='process()'>Process</button></div>"+
                                                "<div class='col-md-3'><button  class='btn btn-primary' id='report' onclick='report()'>Report</button></div></div></div>");

                                    }
                                });
                            }else if(contxt == 'start'){

                                t.row.add([r,code,'Pending','','']);
                                t.draw();

                                // $('#sending_books tbody').append('<tr><td>'+r+'</td><td>' + code + '</td><td>Pending</td><td></td><td></td></tr>');
                                r++;
                            }
                        }
                    }
                    chars = [];
                    pressed = false;
                }, 500);
            }
            pressed = true;
        }
    });

    function add_books() {
        $('#add_books').keyup();
        $('#context').attr('data-context', 'start');
        $('#sending_books_div').show();
        var consignor_id = $('#consignor').attr('data-consignor_id');
        var consignor_name = $('#consignor').attr('data-consignor_name');
        var consignee_id = $('#consignee').attr('data-consignee_id');
        var consignee_name = $('#consignee').attr('data-consignee_name');
        $.ajax({
            url:'/getConsignmentNumber',
            type:'post',
            data:{'consignor_id':consignor_id,'consignor_name':consignor_name,'consignee_id':consignee_id,'consignee_name':consignee_name},
            success:function(data){
                $('#consignment_num').val(data.replace(/(^"|"$)/g, ''));
            }
        })
    }

    function process(){
        var book_list = '';
        var batch = $('#consignment_num').val();
        consignment = batch;
        var table = document.getElementById("sending_books");
        for (var i = 1, row; row = table.rows[i]; i++) {
            for (var j = 1; j < 2; j++) {
                $.ajax({
                    url:'/processConsignment?book='+row.cells[j].innerText+'&batch='+batch,
                    type:'get',
                    success:function(response_data){
                        var response_data = JSON.parse(response_data);
                        console.log(response_data);
                        for (var i = 1, row; row = table.rows[i]; i++) {
                            for (var j = 1; j < 2; j++) {
//                                if (row.cells[j].innerText == 0) {
                                    row.cells[j + 1].innerText = 'added';
                                    row.cells[j + 2].innerText = response_data['id'];
                                    row.cells[j + 3].innerHTML = '<button id="'+response_data['id']+'" onclick="deleteIBTR(this.id)">Delete</button>';
//                                }
                            }
                        }
                    }
                });
            }
        }
    }

    function report(){
        var consign_num = $('#consignment_num').val();
        $('#first_level').hide();
        $('#content').append('<div class="col-md-3">'+
                                '<label>Consignment Number:</label>'+
                                '<input type="text" class="consignment_num_new" id="consignment_num_new" value="'+consign_num+'">'+
                                '</div><div class="col-md-3"><button  class="btn btn-primary" id="fetch" onclick="fetch('+consign_num+')">Fetch</button><div>');
    }

    function fetch(ibt){
        $('#ibtr_details').show();
        $.ajax({
            url:'getConsignmentDetails?consignment='+ibt,
            type: 'get',
            success: function(data){
                var data_new = JSON.parse(data);
                var t = $('#ibtr').DataTable();
                $('#ibtr_details').append('<div class="col-md-6">Summary Report <br/>'+
                        'From: '+data_new['origin']+
                        'To: '+data_new['destination']+
                        'Way-Bill: '+data_new['waybill_no']+
                        'System ID: '+
                        'Total: '+data_new['goods_count']+
                        '</div><div class="col-md-3"><button class="btn btn-primary" id="pick_up" onclick="pick_up()">Pick UP</button></div>');
                var goods = data_new['goods']['good'];

                if(data_new['goods_count'] > 1){
                    goods.forEach(function(arr){

                        t.row.add([arr['id'],arr['book_no'],arr['title']['name'],arr['title']['id'],'','']);
                        t.draw();

                        // $('#ibtr').append("<tr><td>"+arr['id']+"</td><td>"+arr['book_no']+"</td>"+
                        //         "<td>"+arr['title']['name']+"</td><td>"+arr['title']['id']+"</td><td></td><td></td></tr>");
                    })
                }else {

                    t.row.add([goods['id'],goods['book_no'],goods['title']['name'],goods['title']['id'],'','']);
                    t.draw();

                    // $('#ibtr').append("<tr><td>" + goods['id'] + "</td><td>" + goods['book_no'] + "</td>" +
                    //         "<td>" + goods['title']['name'] + "</td><td>" + goods['title']['id'] + "</td><td></td><td></td></tr>");
                }
            }
        })
    }

    function pick_up(){
        $.ajax({
           url:'/updateConsignment?number='+$('#consignment_num_new').val(),
            type:'get',
            success:function(data){
                console.log(data);
            }
        });
    }

    function deleteIBTR(ibtr){
        $.ajax({
            url:'deleteIBTR?ibtr='+ibtr,
            type:'get',
            success: function(data){

            }
        })
    }

</script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/dataTables.bootstrap.min.js"></script>
</body>
</html>
