{{> header}}
<div class="jumbotron">
    <div class="container text-center">
        <h3>OFFERS</h3>
        <p>Offer exclusively for you : Upgrade your membership plan and 50% off</p>
    </div>
</div>
<!-- Begin page content -->
<div class="container-fluid background">
    <div class="row content" id="context" data-context="">

        {{> nav-left}}
        <div class="input-group search" id="searchs">
            <input type="text" class="form-control" placeholder="Search.." id="search_text">
            <span class="input-group-btn">
                <a href="#" class="btn btn-default" id="search_clk">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </span>
        </div>
        <div class="col-md-9" id="search_result_div">
            <div class="box">
                <div class="box-body dataTables_wrapper">
                    <table class="table table-bordered table-hover" id="search_result">
                        <thead>
                        <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Branch Stock</th>
                        <th>Branch Stock</th>
                        <th>Other Branch Stock</th>
                        <th></th>
                        <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        {{> home}}

        {{> home-right}}

    </div>
</div>

{{> footer}}

<script>
    var pressed = false;
    var chars = [];
    var code = '';
//    $(window).keydown(false);
    $(window).keypress(function(e) {
        chars.push(String.fromCharCode(e.which));
        if (pressed == false) {
            setTimeout(function(){
                if (chars.length >= 5) {
                    var barcode = chars.join("");
                    String.prototype.RFIDHexToString = function (delim) {
                        return this.match(/[0-9A-Fa-f]{2}/g).map(function(c) {
                            var intVal=parseInt(c,16);
                            return String.fromCharCode(intVal);
                        }).join(delim || "").split("").reverse().join("");
                    };
                    code = barcode. RFIDHexToString();
                    console.log(code);
                    var context = $('#context').attr('data-context');
                    console.log(context);
                    if(context == 'issue_books') {
                        var api = 'getIssueBook';
                        var button = 'Issue Book';
                    }else if(context == 'return_books'){
                        var api = 'getReturnBook';
                        var button = 'Return Book';
                    }

                    $.ajax({
                        type: "GET",
                        url: "/"+api+"?bookno="+code,
                        success: function (data) {
                            var response1 = '';
                            var val = JSON.parse(data);
                            if(typeof val['errors'] !== 'undefined'){
                                response = val['errors'];
                            }else {
                                response = '<div class="most_read_books col-sm-3" >' +
                                        '<div class="price_item_wrapper">' +
                                        '<div class="price_item_title"><h5>' + val['booknumber'] + '</h5></div>' +
                                        '<div class="item_cost_wrapper" >' +
                                        '<div class="price_item_title" ><h4>' + val['title'] + '</h4></div>' +
                                        '</div>' +
                                        '</div></div>' ;
                            }
                            if($('#book_transaction').length >0){
                               
                            }else{
                                response1 = '<a href="#" id="book_transaction" class="btn btn-primary" onclick="getContext()">'+button+'</a>';
                            }
                            $('#most_read').append(response);
                            $('#button_div').append(response1);
                        },


                    });
                }
                chars = [];
                pressed = false;
            },500);
        }
        pressed = true;
    });
    $(document).ready(function(ev){
        $('#searchs').hide();
        $('#search_result_div').hide();
        // var items = $(".nav li").length;
        // var leftRight=0;
        // if(items>5){
        //     leftRight=(items-5)*50*-1;
        // }
        // $('#media1').on('slide.bs.carousel', function (evt) {
        //     $('#media1 .controls li.active').removeClass('active');
        //     $('#media1 .controls li:eq('+$(evt.relatedTarget).index()+')').addClass('active');
        // })
        // $('.nav').draggable({
        //     axis: "x",
        //     stop: function() {
        //         var ml = parseInt($(this).css('left'));
        //         if(ml>0)
        //             $(this).animate({left:"0px"});
        //         if(ml<leftRight)
        //             $(this).animate({left:leftRight+"px"});

        //     }

        // });
    });

    $('#issue_books').click(function(e){
        e.preventDefault();
        $('#context').attr('data-context','issue_books');
        var response = '';
        $('#most_read').html('');
        $('#most_read').html('<div class="row text-center">'+
                                '<br>'+
                                '<h3><b>PLACE YOUR BOOK ON THE BELOW SCANNER</h3>'+
                                '<br><br>'+
                                '</div>');
    });

    $('#search').click(function(e){
        e.preventDefault();
        $('#context').attr('data-context','search');
        var response = '';
        $('#most_read').html('');
        $('#searchs').show();

        $('#search_result').DataTable( {
            "sPaginationType": "full_numbers",
                "paging":   true,
                "ordering": true,
                "info":     true,
                "searching": false
        } );
    });

    $('#search_clk').click(function(e){
        e.preventDefault();
        var search_str = $('#search_text').val();
        $.ajax({
            url:'/getSearchResults?search_text='+search_str,
            type: 'get',
            success: function(data_new){
                var data_new = JSON.parse(data_new);
                console.log(data_new[0]['titleBasic']['title']);
                var i=0;
                var request_txt = '';
                $('#search_result_div').show();
                    var t = $('#search_result').DataTable();
                data_new.forEach(function(arr){
                    var shelf_loc = [];
                    
                    var shelf_loc_str = '';
                    if(arr['branchAvailability']['LocationAvailability'] != undefined){
                        if(arr['branchAvailability']['LocationAvailability']['isAvailable'] != undefined){
                            if(arr['branchAvailability']['LocationAvailability']['isAvailable'] == 'true'){
//                                shelf_loc.push(arr['branchAvailability']['LocationAvailability']['location']);
                                shelf_loc_str = arr['branchAvailability']['LocationAvailability']['location'];
                            }
                        }else{
                            console.log("testing---"+arr['branchAvailability']['LocationAvailability']instanceof Array);

                            arr['branchAvailability']['LocationAvailability'].forEach(function(arr1){
                               if(arr1['isAvailable'] == 'true'){
                                   if ($.inArray(arr1['location'], shelf_loc) == '-1') {
                                       shelf_loc.push(arr1['location']);
                                       shelf_loc_str += arr1['location']+'   ';
                                   }
                               }
                            });
                        }
                    }
                    if(arr['titleBasic']['avlCount'] < 1){
                        request_txt = 'Place Request';
                    }else{
                        request_txt = shelf_loc_str;
                    }
                    if(shelf_loc_str == ''){
                            t.row.add([arr['titleBasic']['title'],arr['titleBasic']['authorName'],arr['titleBasic']['totalBrhCount'],arr['titleBasic']['avlCount'],arr['titleBasic']['totalCount'],'<button class="btn btn-warning" id="request" ' +
                                 'onclick="placeRequest('+arr['titleBasic']['titleId']+')">' +
                                 ''+request_txt+'</button>','<button class="btn btn-primary" id="request" ' +
                                 'onclick="addWishlist('+arr['titleBasic']['titleId']+')">' +
                                'Add to Wishlist</button>']);
                            t.draw();
                        // $('#search_result tbody').append('<tr><td>'+arr['titleBasic']['title']+'</td>'+
                        //         '<td>'+arr['titleBasic']['authorName']+'</td>'+
                        //         '<td>'+arr['titleBasic']['totalBrhCount']+' Copies</td>'+
                        //         '<td>'+arr['titleBasic']['avlCount']+' Available</td>'+
                        //         '<td>'+arr['titleBasic']['totalCount']+' Available</td>'+
                        //         '<td><button class="btn btn-primary" id="request" ' +
                        //         'onclick="placeRequest('+arr['titleBasic']['titleId']+')">' +
                        //         ''+request_txt+'</button></td>'+
                        //         '<td><button class="btn btn-primary" id="request" ' +
                        //         'onclick="addWishlist('+arr['titleBasic']['titleId']+')">' +
                        //         'Add to Wishlist</button></td></tr>');
                    }else {
                        // $('#search_result tbody').append('<tr><td>' + arr['titleBasic']['title'] + '</td>' +
                        //         '<td>' + arr['titleBasic']['authorName'] + '</td>' +
                        //         '<td>' + arr['titleBasic']['totalBrhCount'] + ' Copies</td>' +
                        //         '<td>' + arr['titleBasic']['avlCount'] + ' Available</td>' +
                        //         '<td>' + arr['titleBasic']['totalCount'] + ' Available</td>' +
                        //         '<td>'+shelf_loc_str+'</td>' +
                        //         '<td><button class="btn btn-primary" id="request" ' +
                        //         'onclick="addWishlist(' + arr['titleBasic']['titleId'] + ')">' +
                        //         'Add to Wishlist</button></td></tr>');
                        t.row.add([arr['titleBasic']['title'],arr['titleBasic']['authorName'],arr['titleBasic']['totalBrhCount'],arr['titleBasic']['avlCount'],arr['titleBasic']['totalCount'],shelf_loc_str,'<button class="btn btn-primary" id="request" ' +
                                 'onclick="addWishlist('+arr['titleBasic']['titleId']+')">' +
                                'Add to Wishlist</button>']);
                        t.draw();
                    }
                });
            }
        });
    });

    $('#my_subscription').click(function(e){
        e.preventDefault();
        $('#context').attr('data-context','my_subscription');
        var response = '';
        $('#most_read').html('');
        $('#most_read').html('<div class="row text-center">'+
                '<br></div>');
        $.ajax({
            type: "GET",
            url: "/getSubscription",
            success: function (data) {
                var val = JSON.parse(data);
                console.log(val[0])
                response += '<br>'+
                            '<div class="row">'+
                            '<div class="col-sm-3">'+
                            '<div class="well">'+
                            '<h4>Current Plan</h4>'+
                            '<p>'+val[0]['NAME']+'</p>'+
                            '</div></div>'+
                            '<div class="col-sm-3">'+
                            '<div class="well">'+
                            '<h4>Duration</h4>'+
                            '<p>'+val[0]['BULK_PAYMENT']+' Months</p>'+
                            '</div></div>'+
                            '<div class="col-sm-3">'+
                            '<div class="well">'+
                            '<h4>Renewal Date</h4>'+
                            '<p>'+val[0]['EXPIRY_DATE']+'</p>'+
                            '</div></div>'+
                            '<div class="col-sm-3">'+
                            '<div class=""><br>'+
                            '<button type="button" class="btn btn-primary">Add Renewal Reminder</button>'+
                            '</div></div></div>';
                $('#most_read').append(response);
            },


        });
    });

    $('#my_profile').click(function(e){
        e.preventDefault();
        $('#context').attr('data-context','my_profile');
        var response = '';
        $('#most_read').html('');
        $('#most_read').html('<div class="row text-center">'+
                '<br></div>');
        $.ajax({
            type: "GET",
            url: "/getProfile",
            success: function (data) {
                var val = JSON.parse(data);
                response += '<div class="col-sm-6">'+
                            '<h3>My Profile</h3>'+
                            '<div class="col-sm-4">'+
                            '<div class="panel-body">'+
                            '<p>'+val[0]['FIRST_NAME']+'</p>'+
                            '</div></div>'+
                            '<div class="col-sm-4">'+
                            '<div class="panel-body">'+
                            '<p>Member Since<br>'+val[0]['REGISTER_TIME']+'</p>'+
                            '</div></div>'+
                            '<div class="col-sm-4">'+
                            '<div class="panel-body">'+
                            '<p>Phone No.<br>'+val[0]['PHONE']+'</p>'+
                            '</div></div>'+
                            '<div class="col-sm-12">'+
                            '<div class="panel-body">'+
                            '<h3>Delivery Address</h3>'+
                            '<p>'+val[0]['ADDRESS1']+'</p>'+
                            '</div><div class="panel-body">'+
                           // '<button type="button" class="btn btn-warning">Edit Profile</button>'+
                            '</div></div></div>';
                $('#most_read').append(response);
            },


        });
    });

    function addWishlist(titleid){
        $.ajax({
            url:'addWishlist?titleid='+titleid,
            type:'get',
            success:function(data){

            }
        });
    }

    function placeRequest(titleid){
        $.ajax({
            url:'placeRequestOrder?titleid='+titleid,
            type:'get',
            success:function(data){

            }
        });
    }

    $('#return_books').click(function(e){
        e.preventDefault();
        $('#context').attr('data-context','return_books');
        var response = '';
        $('#most_read').html('');
        $('#most_read').html('<div class="row text-center">'+
                '<br>'+
                '<h3><b>PLACE YOUR BOOK ON THE BELOW SCANNER</b></h3>'+
                '<br><br>'+
                '</div>');
    });

    function getContext(context){
        alert($('#context').attr('data-context'));
        var context = $('#context').attr('data-context');
        if(context == 'issue_books'){
            var response = '';
            $.ajax({
                type: "GET",
                url: "/getIssueBookResponse",
                success: function (data) {
                    var val = JSON.parse(data);
                    console.log(val);
                    if(val['rentals']['rental']['errors'] != undefined){
                        console.log(val['rentals']['rental']['errors']['error']);
                        $('#most_read').html('');
                        $('#most_read').append(val['rentals']['rental']['errors']['error']);
                    }else{
                        $('#most_read').html('Books Issued');
                    }

                },
            });
        }else if(context == 'return_books'){
            var response = '';
            $.ajax({
                type: "GET",
                url: "/getReturnBookResponse",
                success: function (data) {
                    var val = JSON.parse(data);
                    console.log(val);
                    if(val['returns']['return']['errors'] != undefined){
                        console.log(val['returns']['return']['errors']['error']);
                        $('#most_read').html('');
                        $('#most_read').append(val['returns']['return']['errors']['error']);
                    }else{
                        $('#most_read').html('Books Returned');
                    }

                },
            });
        }

    }
    function getCard(data,visibleCardCount,layer) {
        var response = '', items = 0;
        var final_response = '';
        var active = '';
        if (layer == 1) {
            var data_new = data['wish-list-item'];
            for(var i=0;i<data_new.length;i++){
                items++;
                if(i==0) {
                    active ="active";
                }
                response += '<div class="col-md-2">' +
                        '<a href="#">' +
                        '<div class="slider">' +
                        '<img src="img/books/1.jpg" alt="">' +
                        '<div class="">' +
                        '<p><a href="#">'+data_new[i]['title']['author-name']+'</a></p>' +
                        '</div>' +
                        '<div class="ratings">' +
                        '</div></div></a></div>';
                if(items==visibleCardCount){

                    final_response += '<div class="item item_mostread '+active+'"><div class="row">'+response+'</div></div>';
                    response="";
                    items=0;
                    active ='';
                }
            }
        }else{
            var data_new = data;
            for(var i=0;i<data_new.length;i++){
                items++;
                if(i==0) {
                    active ="active";
                }
                response += '<div class="col-md-2">' +
                        '<a href="#">' +
                        '<div class="slider">' +
                        '<img src="'+data_new[i]['IMG']+'" alt="">' +
                        '<div class="">' +
                        '<p><a href="#">'+data_new[i]['TITLE']+'</a></p>' +
                        '</div>' +
                        '<div class="ratings">' +
                        '</div></div></a></div>';
                if(items==visibleCardCount){

                    final_response += '<div class="item item_mostread '+active+'"><div class="row">'+response+'</div></div>';
                    response="";
                    items=0;
                    active ='';
                }
            }
        }

        if(items < visibleCardCount && items > 0)
        {
            final_response += '<div class="item item_mostread '+active+'"><div class="row">'+response+'</div></div>';
        }
        return final_response;
    }
    $('#my_bookshelf').click(function(e){
        e.preventDefault();
        $('#context').attr('data-context','bookshelf');
        var response = '';
        $('#most_read').html('');
        $('#most_read').html('<div class="carousel slide media-carousel" id="media1" >'+
                            '<h4 class="text-left">Wish List</h4>'+
                            '<div class="carousel-inner wish_list"></div><a data-slide="prev" href="#media1" class="left carousel-control">‹</a>'+
                            '<a data-slide="next" href="#media1" class="right carousel-control">›</a></div>'+
                            '<div class="carousel slide media-carousel" id="media2">'+
                            '<h4 class="text-left">Current Reading</h4>'+
                            '<div class="carousel-inner current_reading"></div><a data-slide="prev" href="#media2" class="left carousel-control">‹</a>'+
                            '<a data-slide="next" href="#media2" class="right carousel-control">›</a></div>'+
                            '<div class="carousel slide media-carousel" id="media3">'+
                            '<h4 class="text-left">Past Read</h4>'+
                            '<div class="carousel-inner past_read"></div><a data-slide="prev" href="#media3" class="left carousel-control">‹</a>'+
                            '<a data-slide="next" href="#media3" class="right carousel-control">›</a></div>');
        $.ajax({
            type: "GET",
            url: "/getBookshelfDetails",
            success: function (data) {
                var new_data = JSON.parse(data);
                var final_response1=getCard(new_data['wish_list'],6,1);
                var final_response2=getCard(new_data['current_reading'],6,0);
                var final_response3=getCard(new_data['past_read'],6,0);
                $('.wish_list').append(final_response1);
                $('.current_reading').append(final_response2);
                $('.past_read').append(final_response3);
            },
        });
    })

</script>
</body>
</html>
