{{> header}}
<div class="jumbotron">
    <div class="container text-center">
        <h3>OFFERS</h3>
        <p>Offer exclusively for you : Upgrade your membership plan and 50% off</p>
    </div>
</div>
<!-- Begin page content -->
<div class="container-fluid">
    <div class="row content" id="context" data-context="">

        {{> nav-left-branch}}

        {{> home-right}}

    </div>
</div>

{{> footer}}

<script>


</script>
</body>
</html>
